* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 200;
  line-height: 1.6;
  padding: 20px;
  margin: auto;
  width: 90vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-icon{
  height: 35px;
}

header nav a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  position: relative;
}

.active-page::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: orange;
  bottom: -5px;
  left: 0;
  transform: rotate(-2deg);
}


.image-grid {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.image-grid img {
  width: 100%;
  max-width: 45%;
}

.image-stack {
  display: flex;
  flex-direction: column;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.social-links {
  display: flex;
}

.icons-flat {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.overview {
  display: flex;

  .left {
    width: 50%;
  }
}

.process {
  display: flex;
}



.icon {
  width: 40px;
  margin: 0px 4px 4px 0px;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-items: right;
  background-image: url(../images/home/heroimg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.intro-text {
  margin-left: 9%;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 600px;

  background-image: url(../images/home/text-bubble-black.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
    content: '';
    position: relative;
    width: 50%;
    height: 3px;
    background: orange;
    bottom: -5px;
    left: 0;
    /* transform: rotate(2deg); */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: none;
  
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gallery-item:nth-child(even) {
  flex-direction: row-reverse;
}

.project-thumbnail {
  width: 110%;
  max-width: 1000px;
  height: 400px;
  margin-bottom: 10px;
  border-radius: 50px;
  
  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;  
  }
}

.project-desc {
  display: block;
  width: 100%;
  text-align: left;
  padding: 20px
}

.project-btn {
  height: 20px;
}



@media screen and (max-width:991px) {
  .gallery-item {
    flex-direction: column;
  }

  .gallery-item:nth-child(even) {
    flex-direction: column;
  }
}

@media screen and (max-width:767px) {}

@media screen and (max-width:479px) {}


@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav a {
    margin: 10px 10px 0 0;
  }

  .image-placeholder {
    height: 200px;
  }
}