* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 200;
    line-height: 1.6;
    padding: 20px;
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    border:1px solid yellowgreen
  }
  header .logo{
    display: flex;
    align-items: center;
    font-weight: bold;
 }
  header nav a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    position: relative;
  }
  
  header nav a:first-child::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: orange;
    bottom: -5px;
    left: 0;
    transform: rotate(-2deg);
  }

  .container {
    max-width: 90vw;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .image-grid {
    display: flex;
    gap: 20px;
    margin: 20px 0;
  }
  
  .image-grid img {
    width: 100%;
    max-width: 45%;
  }
  .image-stack{
    display: flex;
    flex-direction: column;
  }

  .center-vertical {
    display: flex;
    align-items: center;
  }
  
  .social-links {
    display: flex;
  }
  
  .icons-flat {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
  
  .overview{
    display: flex;
    .left{
        width: 50%;
    }
  }
  .process{
    display: flex;
  }



  .icon{
    width: 40px;
    margin: 0px 4px 4px 0px;
  }
  .intro {
    text-align: center;
    margin-bottom: 60px;
    font-size: 14px;
    height:500px;
    display: flex;
    align-items: center;
    justify-items: right;
    border: 1px solid red;
    background-image: url(images/home/avatar.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }



  
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery-item {
    display: flex;
    flex-direction:row;
    align-items: center;
  }
  .gallery-item:nth-child(even){
    flex-direction: row-reverse;
  }
  
  .image-placeholder {
    background: #ddd;
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin-bottom: 10px;
  }
  .project-desc{
    display: block;
    width: 100%;
    text-align: center;
  }



  @media (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    header nav a {
      margin: 10px 10px 0 0;
    }
  
    .image-placeholder {
      height: 200px;
    }
  }
  